/* GENERAL */
body {
  background-color: #030a20;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

/* NAVBAR */
nav {
  background-color: #030a20;
}

.nav-link {
  color: #fff;
}

/* MAIN */
main {
  background-color: #030a20;
  color: #fff;
}

h1 {
  font-size: 38px;
  margin: 2.5rem 0;
}

.prof-pic {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

/* INFO */
.info-container {
  margin-bottom: 4rem;
}
.info-container .info {
  padding-top: 4px;
  border-top: 1px solid #fff;
}
.info-container .info span {
  opacity: 0.7;
}
.info-container .info a {
  color: #fff;
  text-decoration: none;
}

/* SUBHEADING */
.subheading-container {
  margin-bottom: 5rem;
}
.subheading-container h2 {
  font-size: 24px;
}
.subheading-container a {
  color: #fff;
}

/* SKILLS */
.skills-container h3 {
  font-size: 38px;
  margin-bottom: 2rem;
}
.skills-container .skill {
  padding-top: 1rem;
  border-top: 1px solid #fff;
  margin-bottom: 5rem;
}
.skills-container .skill .desc span {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.skills-container .skill img {
  margin: 2rem 0 3rem 0;
}

/* WORK */
.work-container h3 {
  font-size: 38px;
  margin-bottom: 2rem;
}
.work-container .work {
  padding-top: 35px;
  border-top: 1px solid #fff;
}
.work-container .carousel img {
  background-color: #1F2438;
  padding: 20px 30px;
  margin-bottom: 3rem;
}
.work-container .info a {
  text-decoration: none;
  color: #fff;
}
.work-container .info span {
  font-size: 24px;
}
.work-container .info img {
  margin-left: 10px;
}
.work-container .info p {
  margin: 0.75rem 0 4rem 0;
}

/* CONTACT */
#contact {
  background-color: #DD561C;
  color: #fff;
  padding-top: 40px;
}
#contact h3 {
  font-size: 38px;
  margin: 0.5rem 0 2rem 0;
}
#contact p {
  font-size: 24px;
  margin-bottom: 2rem;
}
#contact a {
  color: #fff;
}
#contact .nav a {
  font-size: 24px;
}

/* COPYRIGHT */
footer {
  padding: 20px 0 20px 0;
  border-top: 1px solid #fff;
  margin-top: 4rem;
}

@media only screen and (min-width: 768px) {
  /* TOP FOLD */
  h1 {
    font-size: 41px;
  }
  /* SUBHEADING */
  .subheading-container h2 {
    font-size: 41px;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  /* SKILLS */
  .skills-container .row {
    border-top: 1px solid #fff;
  }
  .skills-container .skill, .skills-container .skill.first {
    padding-top: 5rem;
    border-top: unset;
    margin-bottom: 5rem;
  }
  .skills-container h3 {
    font-size: 67px;
    margin-bottom: 5rem;
  }
  .skills-container .skill img {
    margin-top: 0;
  }
  /* WORK */
  .work-container h3 {
    font-size: 67px;
    margin-top: 7rem;
  }
  .work-container .work {
    margin-top: 5rem;
  }
  .work-container .carousel img {
    background-color: #1F2438;
    padding: 30px 40px;
    margin-bottom: 3rem;
    width: 800px;
  }
  .work-container .info span {
    font-size: 41px;
  }
  /* CONTACT */
  #contact {
    margin-top: 7rem;
  }
  #contact h3 {
    font-size: 67px;
    margin-bottom: 3rem;
  }
  #contact p {
    margin-bottom: 3rem;
  }
  #contact .nav a {
    margin-right: 30px;
  }
  /* COPYRIGHT */
  footer {
    margin-top: 10rem;
  }
}
@media only screen and (min-width: 992px) {
  /* TOP FOLD */
  .top-fold {
    height: 70vh;
    display: flex;
    align-items: center;
  }
  h1 {
    font-size: 67px;
  }
  /* SKILLS */
  .skills-container h3 {
    margin-bottom: 5rem;
  }
  /* WORK */
  .work-container .work {
    padding-top: 5rem;
  }
}
.slideanim {
  visibility: hidden;
}

.slide {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}/*# sourceMappingURL=style.css.map */